body{
      height: 1500px;
      background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
  font: 18px Helvetica, sans-serif;
}
ul{
  list-style: none;
}

/* for the "handmade web" heading so that it can route back w/o being ugly af */
a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: mediumslateblue;
}

a:active {
  text-decoration: none;
  color: black;
}
