body{
  font: 18px Helvetica, sans-serif;
  color: darkorchid;
}
a{
  color: mediumslateblue;
}
a:hover{
  color: cyan;
}
body{
    height: 2000px;
    background: linear-gradient(to top left, #33ccff 0%, #ff99cc 100%);
}
